body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #d35649;
    display: flex;
    overflow: hidden;
}
header div{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 20px;
}
.menu {
    float: right;
    color: #FFF;
    display: flex;   
    text-decoration: none;
    margin-left: 600px;
    margin-top: 20px;    
}
header a:hover {
    color: #98a5a5;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 10px; 
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.filter h1 {
    text-align: center;
    color: #98a5a5;
}
.filter {
    background-color: #e4e6e6;
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.flex {   
    justify-content: center;
    align-items: center;
    text-align: center;   
}
label {
    padding: 0;
}
input[type=location] {
    width: 5%;
    padding: 5px 20px;
    margin: 10px 0;           
    border: #98a5a5;
    border-radius: 5%;
}
input[type=date] {
    width: 8%;
    padding: 5px 15px;
    margin: 10px 0;    
    border: #98a5a5;
    border-radius: 5%;
}
#daytime {
    width: 10%;
    padding: 5px 20px;
    margin: 10px 0;    
    border: #98a5a5;
    border-radius: 5%;
}
button.btn-search {
    background-color: #2777f0;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
button.btn-clear {
    background-color: #f09d30;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;    
}
button.btn-clear img {
    padding-right: 5px;       
}
.search-result h2 {
    text-align: center;
    color: #98a5a5;
}
.search-result {
    margin: 20px;
}
.container {
    text-align: center;
    margin: 10px;
}
.container img {
    margin-right: 20px;
}
footer {
    overflow: hidden;
    background-color: #1f1f1f;
}
footer a:hover {
    color: #98a5a5;
}
.footer-top {
    background-color: black;
    color: #FFF;  
    width: 100%;  
    overflow: hidden;
}
.row-link {
    display: flex;
    text-align: center;
    text-transform: uppercase;    
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.menu-left {
    border-top: solid 1px #98a5a5;
    border-bottom: solid 1px #98a5a5;    
}
.menu-right {
    border-top: solid 1px #98a5a5;
    border-bottom: solid 1px #98a5a5;
}
.row-link ul, .row-link ul li, .row-link ul li a {
    padding: 0;
}
.row-link ul {
    display: flex;
    gap: 20px;  
}
.img-geo-box {
    margin: 0 20px;
    border-color: #98a5a5; 
    border: solid 1px;
    border-radius: 50%;
    padding: 30px;
} 
.row-link img {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
} 
.row {
    display: inline;
    text-align: center;
    font-size: 90%;
    margin: 10px 20px;  
}
footer .col1{
    float: left;
    width: 30%;
    margin: 0;
}
input[type=email] {
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #444;
    background-color: black;
    color: #98a5a5;
}
button.btn {
    background-color: #444;
    color: #FFF;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
footer .col2{
    float: left;
    width: 30%;
    text-align: center;
}
footer .col2 a{
    color: #d35649;
}
footer .col2 a:hover{
    text-decoration: underline;
}
footer .col3{
    float: right;
    width: 35%
}
footer .col3 a{
    color: #d35649;
}
footer .col3 a:hover{
    text-decoration: underline;
}
.footer-bottom {
    background-color: #1f1f1f;
    display: inline;    
    width: 100%;    
    overflow: hidden;
}
.social_media {
    float: left;
    display: flex;
}
.facebook {
    padding-top: 10px;
    padding-left: 30px;
}
.facebook a:hover{
    color: #509bd7;
}
.twitter {
    padding-top: 10px;
    padding-left: 20px;
}
.instagram {
    padding-top: 10px;
    padding-left: 20px;
}
.tumblr {
    padding-top: 10px;
    padding-left: 20px;
}
.linkedin {
    padding-top: 10px;
    padding-left: 20px;
}
.copyright {
    float: right;
    color: #98a5a5;
}